body{background-color:lightslategray;}

button{background-color:peru; border:none;}

#tam{background-color: blue;}

a{color:white; text-decoration: none;}

h1{color:khaki;}

h3{color:yellow;}

h2{color:khaki;}

#save{background-color: darkmagenta;}

p{color: white;}

ul{list-style: none;}

.lst{background-color: green;}